@import '../../common';

.container {
  .articleTitle {
    h1 {
      display: inline-block;
      max-width: 85%;
      margin-right: 20px;
      vertical-align: middle;
    }
  }
  max-width: 800px;
  margin: 0 auto;
  .cat {
    @extend %box;
    color: #fff;
    background-color: $bgGray;
  }
  .content {
    margin: 20px 0;
  }
}
