@import 'plugin/highlight.scss';
@import 'plugin/codemirror.scss';
@import 'plugin/monokai.scss';

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Helvetica Neue', 'Yu Gothic', YuGothic, Verdana, Meiryo, 'M+ 1p', sans-serif;
  font-size: 16px;
  color: #333;
  line-height: 1.6;
  word-break: break-all;
  margin: 0;
  padding-bottom: 50px;
}
input, textarea {
  font-size: 1em;
  box-sizing: border-box;
  padding-left: 10px;
}
textarea {
  padding: 20px;
  line-height: 1.6;
}

h1, h2 {
  font-size: 1.5em;
  margin: 20px 0;
}
h3 {
  font-size: 1.25em;
  margin: 15px 0;
}

p, ul, li, dl {
  font-size: 1em;
}

p, li {
  margin: 10px 0;
}

code {
  color: #FF0068;
  padding: 0 3px;
  background-color: #e1e1e8;
}

img {
  max-width: 100%;
  height: auto;
}

table, th, td {
  box-sizing: border-box;
  border: 1px solid #666;
  border-spacing: 0;
}

blockquote {
  background-color: #f3f3f3;
  padding: 10px;
  margin: 10px;
  position: relative;
}

.pagination {
  display: flex;
  justify-content: center;
  list-style: none;
  li {
    margin-right: 10px;
    padding: 3px;
    border: 1px solid #333;
    &:last-child {
      margin-right: 0px;
    }
  }
}

.CodeMirror {
  height: 100%;
}
