@import '../../common'

.content {
  margin-bottom: 20px;
  border-bottom: solid #666 1px;
  dt {
    a {
      color: #333;
      display: inline-block;
      vertical-align: middle;
      text-decoration: none;
      &:first-child {
        font-size: 1.25em;
        margin-right: 20px;
        max-width: 90%;
      }
      .wip {
        color: #fff;
        background-color: $bgGray;
        @extend box;
      }
    }
  }
  dd {
    margin: 20px 0;
    span {
      display: inline-block;
      vertical-align: middle;
      padding-right: 10px;
      margin-right: 10px;
      border-right: 1px dotted #666;
    }
  }
}
